.Burger {
  width: 60%;
  margin: auto;
  height: 250px;
  overflow-y: auto;
  text-align: center;
}

@media (min-widht: 1000px) and (min-height: 700px) {
  .Burger {
    width: 700px;
    height: 600px;
  }
}