.NavigationItems {
  display: block;
  list-style: none;
}

.NavigationItems ul {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
}

@media(min-width: 500px) {
  .NavigationItems {
    display: flex;
    align-items: center;
  }

  .NavigationItems ul {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
  }
}